<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<listeners>
		<listener class-name="com.hrms.utilities.ExtentReport"></listener>
	</listeners>
	
  <test thread-count="5" name="HRMS">
	    <parameter name="browser" value="chrome"></parameter>
    
    <classes>
     <!-- <class name="com.hrms.testCases.TC_Login"/> -->
     
	<!--  <class name="com.hrms.testCases.TC_LoginAndLogout"/>--> 
	
	 <!--<class name="com.hrms.testCases.TC_HomePage"/>-->
	  
	  <!--<class name="com.hrms.testCases.TC_UserProfilePage"/>-->
	  
	<!--<class name="com.hrms.testCases.TC_UserProfile_PersonalInfo"/>-->
	
	<!--<class name="com.hrms.testCases.TC_UsersProfile_AddressDetails"/>-->
	
	<!--<class name="com.hrms.testCases.TC_UsersProfile_OthersDetails"/>-->
	
	<!-- <class name="com.hrms.testCases.TC_UsersProfile_BankDetails"/> -->
	
	<class name="com.hrms.testCases.TC_UsersProfile_ResetPassword"/>
	  
	<!--<class name="com.hrms.testCases.TC_Ogranization"/>-->
	
		<!--<class name="com.hrms.testCases.TC_DailyUpdates"/>-->
		
		<!--<class name="com.hrms.testCases.TC_MyCalendar"/>-->
	
		<!--<class name="com.hrms.testCases.TC_Leave"/>-->
	  
	  <!--<class name="com.hrms.testCases.TC_Cleint"/>-->
	  
	 <!-- <class name="com.hrms.testCases.TC_Users"/>-->
	  
	  <!--<class name="com.hrms.testCases.TC_Projects"/>   -->    
	  
	 <!--<class name="com.hrms.testCases.TC_JobTitles"/>-->
	 
	<!-- <class name="com.hrms.testCases.TC_ManageLeaveTypes"/>-->
	 
	<!--<class name="com.hrms.testCases.TC_LeaveBalance"/>-->
	
	<!--<class name="com.hrms.testCases.TC_AssetsTypes"/>-->
	
	<!--<class name="com.hrms.testCases.TC_Assets"/>-->
      
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
